<!-- templates/index.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Microservice using Docker </title>
  </head>
  <body>
    <h1>This example demonstrate how to create microservice using docker</h1>

    <main>
    <form>
      <div>
        <label>
          <input type="radio">
          <!-- <img src="templates/images/baked_goods_1.jpg"> -->
          Canada
        </label>
        <label>
          <input type="radio" name="chosen-image" value="baked_goods_2.jpg">
          <!-- <img src="templates/images/baked_goods_2.jpg"> -->
          US 
        </label>
      </div>
      <div class="prompt-box">
        <label>
          <input name="prompt" placeholder="Enter instructions here" type="text"
            value="Enter your prompt here">
        </label>
        <button type="submit">Go</button>
      </div>
    </form>
  </main>
  </body>
</html>
