<!-- templates/index.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Microservice using Docker </title>
  </head>
  <body>
    <h1>This example demonstrate how to create microservice using docker</h1>

    <main>
    <form>
      <div>
        <label>
          <input type="radio" checked name="chosen-image" value="baked_goods_1.jpg">
          <img src="baked_goods_1.jpg">
        </label>
        <label>
          <input type="radio" name="chosen-image" value="baked_goods_2.jpg">
          <img src="baked_goods_2.jpg">
        </label>
        <label>
          <input type="radio" name="chosen-image" value="baked_goods_3.jpg">
          <img src="baked_goods_3.jpg">
        </label>
      </div>
      <div class="prompt-box">
        <label>
          <input name="prompt" placeholder="Enter instructions here" type="text"
            value="Provide an example recipe for the baked goods in the image">
        </label>
        <button type="submit">Go</button>
      </div>
    </form>
    <p class="output">(Results will appear here)</p>
  </main>
  </body>
</html>
